<h2>List of Celebrities</h2>

  <% celebrities.forEach((celebrities) => { %>
    <p><%= celebrities.name  %> - <%= celebrities.occupation %> - <%= celebrities.catchPhrase %></p>
    <a href="celebrities/<%= celebrities._id%>">Go to Edit</a>
    <a href="celebrities/delete/<%=celebrities._id %>">Delete celebrity</a>
  <% }) %>

<a href="celebrities/new">Create new Celebrity</a>


