<h2>List of Movies</h2>

  <% movies.forEach((movies) => { %>
    <p><%= movies.title  %> - <%= movies.genre %> - <%= movies.plot %></p>
    <a href="movies/<%= movies._id%>">Go to Edit</a>
    <a href="movies/delete/<%= movies._id %>">Delete movie</a>
  <% }) %>

<a href="movies/new">Create movie</a>

